.posts {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
    width: 95%;
    margin: 0 auto;
}

@media (max-width: 880px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 400px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
