.header {
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(2, 2, 2, 1) 15%,
        rgba(219, 13, 13, 1) 50%,
        rgba(2, 2, 2, 1) 85%
    );
    color: #fff;
    margin-bottom: 20px;
    margin-top: -10px;
}

.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 30px;
}
