.header {
    width: 101.1%;
    background-color: #373b69;
    color: #fff;
    margin-bottom: 20px;
    margin-top: -10px;
}

.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 30px;
}
