.news {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.date {
    font-size: 50px;
    color: azure;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.quoteText {
    font-size: 20px;
    color: azure;
    margin-bottom: 20px;
    text-align: right;
    /* background-color: black; */
    text-shadow: 1px 1px 2px black;
}